{% extends 'base/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/style.css">
{% endblock %}
{% block content %}
<div class="card text-bg-primary mb-3 client-login">
    <div class="card-title mb-3 mt-3 form-style">
        <h3>User Login</h3>
        <form class="mb-3 mt-3" method="post">
            <div class="mb-3">
                <select class="form-select form-select-lg mb-3">
                    <option>Care Home</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="FormGroupExampleInput" name="password" placeholder="Password">
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="dlexCheckDefault">Remember Me
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-secondary">Login Now</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}